<h1 id="tableLabel">Products Catalog</h1>

<p>Product Catalog Data fetched from the API server</p>

<p *ngIf="!products?.length"><em>Loading...</em></p>

<table class='table table-striped ' aria-labelledby="tableLabel" *ngIf="products.length">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
    </tr>
  </tbody>
</table>
