<h1>Welcome</h1>
<h5 class="py-2">Go to <a routerLink="/fetch-data" > Product Catalog</a> Page for the implementation. </h5>

<h5 class="my-4"> Principles Used:</h5>
<ul>
  <li>
    <strong>Single Responsibility</strong> - Each Product class has its own defined responsibility. <span class="text-bg-secondary">ProductsModel</span> defines the data model, <span class="text-bg-secondary">ProductsService</span> defines the service to fetch the data, and <span class="text-bg-secondary">ProductsController</span> defines the controller to handle the API requests.
  </li>
<li>
    <strong>Open/Closed</strong> - The <span class="text-bg-secondary">ProductsController</span> class is open for extension but closed for modification. The controller can be extended to handle more API requests, but the existing methods will not be modified.
</li>
<li>
  <strong>Liskov Substitution</strong> - Not Applicable - No subclasses are used in the Product model.
</li>
  <li>
    <strong>Dependency Inversion</strong> - The  <span class="text-bg-secondary">ProductsController</span> class is injected with the <span class="text-bg-secondary">ProductsService </span> class to handle the API requests.
  </li>
  <li>
    <strong>Interface Segregation</strong> - The <span class="text-bg-secondary">ProductsController</span> class implements the <span class="text-bg-secondary">IProductsController</span> interface, which defines the methods that the controller must implement.
</li>
</ul>
